body {

    background: linear-gradient(-165deg, #b4f371, #e73c7e, #a75fe6, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease-in-out infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

/* INTRO */

body button {
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


#game-intro {
    padding: 4em;
}

.start-button-text {
    font-family: monospace;
    text-align: right !important;
    padding-left: auto;
    letter-spacing: 20px;
    /* transform: rotate(10deg); */
    z-index: 2;
    -webkit-text-stroke: 3px black;
    color: transparent;
}


.five-pointed-star {

    --star-color: rgb(203, 124, 239);
    margin: 1em auto;
    font-size: 7em;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(-25deg);
}

.five-pointed-star:before {
    border-bottom: 0.8em solid var(--star-color);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content: "";
    transform: rotate(-35deg);
}

.five-pointed-star:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content: "";
}




.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    text-align: center;
}

.game-kisses-text {
    position: relative;
    height: 20vh;
    left: 1.2em;
    font-size: 4em;
    font-family: monospace;
    letter-spacing: 20px;
    transform: rotate(10deg);
    z-index: 2;
    -webkit-text-stroke: 2px black;
    color: transparent;
}

#timer {
    font-size: 4em;
    left: 1.2em;
    font-family: monospace;
    letter-spacing: 20px;
    transform: rotate(-15deg);
    z-index: 2;
    -webkit-text-stroke: 2px black;
    color: transparent;
    position: relative;
    left: 22em;
    bottom: 4em;
}

#on-timer-end {
    font-size: 4em;
    font-family: monospace;
    letter-spacing: 20px;
    transform: rotate(-15deg);
    z-index: 2;
    -webkit-text-stroke: 2px black;
    color: transparent;
}

.kisses {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* HELLO KITTY */
.hello-kitty {
    background: white;
    width: 242px;
    height: 172px;
    border-radius: 48%;
    border: 8px solid black;
    position: relative;
    /* top: 230px; */
    top: 34%;
    left: -8px;
    z-index: 2;
}

.eye-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.eye {
    background: black;
    width: 20px;
    height: 26px;
    border-radius: 50%;
    z-index: 3;
}

.left-eye {
    position: relative;
    top: 144px;
    left: -8px;
}

.right-eye {
    position: relative;
    top: 144px;
    left: -4px;
}

.nose {
    /* background: #f2dc04;
    width: 20px;
    height: 14px;
    border-radius: 50%;
    border: 4px solid black;
    position: relative;
    top: 138px;
    left: 110px;
    z-index: 3; */

    background: #ff00b5;
    width: 20px;
    height: 14px;
    border-radius: 50%;
    border: 4px solid white;
    position: relative;
    top: 138px;
    left: 110px;
    z-index: 3;
}

.whisker {
    width: 60px;
    border-top: solid 8px black;
    border-radius: 40%;
    z-index: 3;
}

.w1 {
    width: 60px;
    position: relative;
    top: 84px;
    left: 220px;
    transform: rotate(355deg);
}

.w2 {
    width: 48px;
    position: relative;
    top: 100px;
    left: 226px;
    transform: rotate(5deg);
}

.w3 {
    width: 54px;
    position: relative;
    top: 120px;
    left: 218px;
    transform: rotate(21deg);
}

.w4 {
    width: 60px;
    position: relative;
    top: 61px;
    left: -38px;
    transform: rotate(4deg);
}

.w5 {
    width: 48px;
    position: relative;
    top: 77px;
    left: -31px;
    transform: rotate(354deg);
}

.w6 {
    width: 54px;
    position: relative;
    top: 97px;
    left: -28px;
    transform: rotate(339deg);
}

.ear {
    width: 62px;
    height: 62px;
    border: 8px solid black;
    border-radius: 26px 62px 39px 60px;
    position: relative;
    background-color: white;
}

.left-ear {
    top: -70px;
    left: 2px;
    transform: rotate(12deg);
}

.right-ear {
    top: -147px;
    left: 166px;
    transform: rotate(78deg);
}

.bow {
    /* background: #E6002E;
    border: 6px solid black; */
    background: #d85bff;
    border: 6px solid rgb(60 255 0);
}

.bow-center {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    position: relative;
    top: -190px;
    left: 160px;
    z-index: 6;
}

.bow-left {
    width: 50px;
    height: 66px;
    position: relative;
    top: -270px;
    left: 124px;
    border-radius: 999px 999px 999px 999px;
    transform: rotate(22deg);
    z-index: 4;
}

.bow-right {
    width: 50px;
    height: 66px;
    position: relative;
    top: -320px;
    left: 180px;
    border-radius: 999px 999px 999px 999px;
    transform: rotate(22deg);
    z-index: 4;
}

.bow-detail-left {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: relative;
    top: -396px;
    left: 150px;
    z-index: 5;
}

.bow-detail-right {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: relative;
    top: -398px;
    left: 192px;
    z-index: 5;
}

.ear-detail {
    width: 41px;
    height: 41px;
    border: 8px solid rgb(246 246 246 / 0%);
    border-radius: 50%;
    /* background-color: white; */
    position: relative;
    z-index: 3;
}

/* .ear-detail-left {
    top: -466px;
    left: 16px;
} */

.ear-detail-right {
    top: -520px;
    left: 170px;
    border: 8px solid rgb(255, 255, 255);
}

.ear-line {
    width: 20px;
    border-top: solid 8px black;
    border-radius: 40%;
    position: relative;
    top: -541px;
    left: 6px;
    transform: rotate(312deg);
    z-index: 5;
}

.text {
    font-family: monospace;
    font-size: 50px;
    position: absolute;
    top: 45%;
    left: 10%;
    letter-spacing: 20px;
    transform: rotate(10deg);
    z-index: 2;
    -webkit-text-stroke: 3px black;
    color: transparent;

}


/* BUTTONS */
#restart-button {
    display: none;
}

/* .restart-button {
    position: absolute;
    right: 5%;
    bottom: 10px

} */

.restart-button-text {
    font-size: 0.5em;
    font-family: monospace;
    letter-spacing: 30px;
    transform: rotate(45deg);
    z-index: 2;
    -webkit-text-stroke: 2px black;
    color: transparent;
    position: relative;
    top: 0.7em;
    right: 3em;
}

.restart-star {
    position: absolute;
    bottom: 10%;
    left: 60%;
    transform: rotate(-55deg);
}

.kisses-text {
    position: absolute;
    bottom: 10vh;
    left: 10vh;
    font-size: 4em;
    font-family: monospace;
    letter-spacing: 20px;
    transform: rotate(10deg);
    z-index: 2;
    -webkit-text-stroke: 2px black;
    color: transparent;
}